
[submodule "kinesis-video-c-producer"]
	path = kinesis-video-c-producer
	url = https://github.com/awslabs/amazon-kinesis-video-streams-producer-c
	branch = master
[submodule "kinesis-video-pic"]
	path = kinesis-video-pic
	url = https://github.com/awslabs/amazon-kinesis-video-streams-pic
	branch = master
