name: Producer CPP JNI Builds

on:
  push:
    branches:
      - develop
      - master
  pull_request:
    branches:
      - develop
      - master

jobs:
  mac-os:
    strategy:
      matrix:
        config:
          - name: Intel x86_64
            runner: macos-13
          - name: Apple Silicon
            runner: macos-15
          - name: Ubuntu 22.04
            runner: ubuntu-latest
            container: public.ecr.aws/ubuntu/ubuntu:22.04_stable
          - name: Ubuntu 20.04
            runner: ubuntu-latest
            container: public.ecr.aws/ubuntu/ubuntu:20.04_stable

        java:
          - 11
          - 17
          - 21

      fail-fast: false

    name: JNI ${{ matrix.config.name }} (Java ${{ matrix.java }})
    runs-on: ${{ matrix.config.runner }}
    container: ${{ matrix.config.container || '' }}

    env:
      DEBIAN_FRONTEND: noninteractive

    steps:
      - name: Setup XCode
        if: ${{ runner.os == 'macOS' }}
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable

      - name: Install Dependencies (Linux only)
        if: runner.os == 'Linux'
        run: |
          apt-get update
          apt-get install -y git cmake build-essential

      - name: Set up Java (JDK ${{ matrix.java }})
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: ${{ matrix.java }}

      - name: Clone repository
        uses: actions/checkout@v4

      - name: Build JNI (CMake)
        run: |
          mkdir build && cd build
          cmake .. -DBUILD_JNI_ONLY=ON

          # Note: Dependencies on/off shouldn't make any difference since
          # the only dependency for the JNI is PIC

      - name: Build JNI (make)
        working-directory: ./build
        run: |
          make -j
